[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
distlib = "==0.2.1"
futures = "==3.0.3"
gunicorn = "==19.4.1"
itsdangerous = "==0.24"
Jinja2 = "==2.8"
Mako = "==1.0.3"
MarkupSafe = "==0.23"
oauthlib = "==1.0.3"
python-editor = "==0.4"
requests = "==2.8.1"
requests-oauthlib = "==0.5.0"
SQLAlchemy = "==1.0.9"
tweepy = "==3.4.0"
webassets = "==0.11.1"
Werkzeug = "==0.10.4"
